

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tabs>

      <ion-tab-bar slot="top" color='primary'>
       
          <ion-icon name="cellular-outline" text-align="right" class="cellular"></ion-icon>  
          <ion-text>12:30 PM</ion-text>
         
          <ion-icon name="battery-full" text-align="right" class="battery"></ion-icon>
      </ion-tab-bar>
    
    </ion-tabs>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title text-align="center">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
      <ion-card>
        <img src="./assets/profile.jpg">
     
      <div class="profile">
        <ion-text>
          <h3>Pulga Ogie</h3>
          <p>------------------------</p>
          <p>From: Jaro,Leyte</p>
          <p>Studying at EVSU Carigara</p>
          <p>Joined last March 13, 2021</p>
        </ion-text>
      </div>
    </ion-card>
</ion-content>

*/