
ion-card {
    width:100%;
    height:420px;
    text-align: center;
    color:#000;
    margin-top:8px;
    
    img{
        
        width:180px;
        height:180px;
        border-radius:50%;
        color:blue;
    }
    
}
ion-icon {
    margin:50px;
}
ion-title {
    font-family:cursive;
    color:#000;
}
ion-tabs{
    width:100%;
}