ion-title{
    font-family: cursive;
    color:green;
    font-size: 18px;
    text-align: center;
}
ion-item{


ion-label{
    font-family: cursive;
    color:#000;
}
}
ion-button{
    ion-label{
    color:#000;
    font-weight: bold;
    font-size: 15px;
    font-family: cursive;
    }
}
